<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--
  //==============================================================================================//
  // service settings
  //==============================================================================================//
  -->

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="netDataContractSerializer" type="Bemagine.ServiceModel.Behavior.NetDataContractSerializerElement, Bemagine.ServiceModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="jmsQueueThrottling" type="Bemagine.ServiceModel.Channels.QueueThrottlingElement, Bemagine.ServiceModel.JmsChannel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="asyncJmsQueueOperation" type="Bemagine.ServiceModel.Channels.AsyncOperationElement, Bemagine.ServiceModel.JmsChannel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="traceChannel" type="Bemagine.ServiceModel.Channels.TraceBindingElementExtension, Bemagine.ServiceModel.JmsChannel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="jmsQueueTransport" type="Bemagine.ServiceModel.Channels.JmsQueueTransportBindingElementExtension, Bemagine.ServiceModel.JmsChannel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>

    <bindings>
      <customBinding>
        <binding
              name="JMSQueueBinding"
              closeTimeout="00:01:00"
              openTimeout="00:01:00"
              receiveTimeout="00:01:00"
              sendTimeout="00:05:00">

          <binaryMessageEncoding
            maxReadPoolSize="536870912"
            maxWritePoolSize="536870912"
            maxSessionSize="536870912">
            <readerQuotas
              maxDepth="536870912"
              maxBytesPerRead="536870912"
              maxArrayLength="536870912"
              maxStringContentLength="536870912"
              maxNameTableCharCount="536870912">
            </readerQuotas>
          </binaryMessageEncoding>
          <traceChannel/>

          <!--jmsConnectionFactoryType="Bemagine.ServiceModel.EmsJmsWrapper.EmsConnectionFactory, Bemagine.ServiceModel.EmsJmsWrapper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"-->
          <!--jmsConnectionFactoryType="Bemagine.ServiceModel.MockJmsProvider.MockConnectionFactory, Bemagine.ServiceModel.MockJmsProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"-->
          
          <jmsQueueTransport
            jmsConnectionFactoryType="Bemagine.ServiceModel.MockJmsProvider.MockConnectionFactory, Bemagine.ServiceModel.MockJmsProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            messageSizeCompressionThreshold="33554432"
            maxReceivedMessageSize="536870912"
            maxBufferPoolSize="536870912">
          </jmsQueueTransport>

        </binding>
      </customBinding>
    </bindings>

    <behaviors>      
      <endpointBehaviors>
        <behavior name="jmsQueueEndpointBehaviors">
          <!--jmsQueueThrottling maxConcurrentEndpointCalls="256"/-->
          <netDataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="netDataContractSerializerBehavior">
          <netDataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint name="LargeBlockServiceEP"
                address ="net.jmsq://localhost:7222/Bemagine.LargeBlock"
                binding="customBinding"
                bindingConfiguration="JMSQueueBinding"
                contract="Bemagine.ServiceModel.JmsChannel.Tests.ILargeBlock"
                behaviorConfiguration="netDataContractSerializerBehavior"/>

      <endpoint name="EchoServiceEP"
                address ="net.jmsq://localhost:7222/Bemagine.Echo"
                binding="customBinding"
                bindingConfiguration="JMSQueueBinding"
                contract="Bemagine.ServiceModel.JmsChannel.Tests.IEcho"
                behaviorConfiguration="netDataContractSerializerBehavior"/>
    </client>

    <services>
      <service name="Bemagine.ServiceModel.JmsChannel.Tests.LargeBlockService">
        <endpoint name="LargeBlockServiceEP"
                  address ="net.jmsq://localhost:7222/Bemagine.LargeBlock"
                  binding="customBinding"
                  bindingConfiguration="JMSQueueBinding"
                  contract="Bemagine.ServiceModel.JmsChannel.Tests.ILargeBlock"
                  behaviorConfiguration="jmsQueueEndpointBehaviors"/>
      </service>

      <service name="Bemagine.ServiceModel.JmsChannel.Tests.EchoService">
        <endpoint name="EchoServiceEP"
                  address ="net.jmsq://localhost:7222/Bemagine.Echo"
                  binding="customBinding"
                  bindingConfiguration="JMSQueueBinding"
                  contract="Bemagine.ServiceModel.JmsChannel.Tests.IEcho"
                  behaviorConfiguration="jmsQueueEndpointBehaviors"/>
      </service>
    </services>

  </system.serviceModel>
</configuration>
