<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--
  //==============================================================================================//
  // custom configuration sections
  //==============================================================================================//
  -->

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--
  //==============================================================================================//
  // log4net configuration
  //==============================================================================================//
  -->

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <!--
  //==============================================================================================//
  // service settings
  //==============================================================================================//
  -->

  <system.serviceModel>

    <!--
    //============================================================================================//
    // extensions
    //============================================================================================//
    -->

    <extensions>
      <behaviorExtensions>
        <add name="netDataContractSerializer" 
             type="Bemagine.ServiceModel.Behavior.NetDataContractSerializerElement, Bemagine.ServiceModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <!--
    //============================================================================================//
    // bindings
    //============================================================================================//
    -->

    <bindings>
      <netTcpBinding>
        <binding
          name="CustomNetTcp"
          closeTimeout="00:01:00"
          openTimeout="00:01:00"
          receiveTimeout="Infinite"
          sendTimeout="00:01:00"
          listenBacklog="32"
          maxReceivedMessageSize="536870912"
          maxBufferSize="536870912"
          maxBufferPoolSize="536870912">

          <security mode="None" />
          <readerQuotas
              maxDepth="536870912"
              maxBytesPerRead="536870912"
              maxArrayLength="536870912"
              maxStringContentLength="536870912"
              maxNameTableCharCount="536870912">
          </readerQuotas>

        </binding>
      </netTcpBinding>
    </bindings>

    <!--
    //============================================================================================//
    // behaviors
    //============================================================================================//
    -->

    <behaviors>

      <serviceBehaviors>
        <behavior name="basicServiceBehaviors">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling
            maxConcurrentCalls="1024"
            maxConcurrentInstances="1024"
            maxConcurrentSessions="1024">
          </serviceThrottling>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="tcpEndpointBehaviors">
          <netDataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <!--
    //============================================================================================//
    // clients
    //============================================================================================//
    -->

    <client>
      <endpoint name="SubscriberEP"
                address ="net.tcp://localhost:5001/Bemagine.Publication"
                binding="netTcpBinding"
                bindingConfiguration="CustomNetTcp"
                contract="Bemagine.ServiceModel.Tests.ISubscription"
                behaviorConfiguration="tcpEndpointBehaviors"/>
    </client>


    <!--
    //============================================================================================//
    // services
    //============================================================================================//
    -->

    <services>
      <service name="Bemagine.ServiceModel.Tests.Publisher"
               behaviorConfiguration="basicServiceBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:5001"/>
          </baseAddresses>
        </host>

        <endpoint name="LargeBlockService"
                  address ="net.tcp://localhost:5001/Bemagine.Publication"
                  binding="netTcpBinding"
                  bindingConfiguration="CustomNetTcp"
                  contract="Bemagine.ServiceModel.Tests.ISubscription"
                  behaviorConfiguration="tcpEndpointBehaviors"/>

      </service>
    </services>

  </system.serviceModel>
</configuration>

<!--
//================================================================================================//
// end of file
//================================================================================================//
-->
